# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
*.tsbuildinfo
next-env.d.ts

# debug
npm-debug.log*

# env files
.env*.local
.env

# vercel
.vercel
